# The actual MAC address used as target of the WoL packet.
WOLPROXY_MATCH_MAC=00:11:22:33:44:55
# The MAC of the interface to actually wake, reachable of `WOLPROXY_IFACE`.
WOLPROXY_TARGET_MAC=aa:bb:cc:dd:ee:ff
# The interface to emit the frame from.
WOLPROXY_IFACE=eth0
# UDP listen address for inbound magic packets. Default ":9".
#WOLPROXY_LISTEN=:9
